layout {
    gaps 10 
    center-focused-column "never" 
    always-center-single-column
    background-color "transparent" // <- needed for noctalia-shell to set wallpaper

    focus-ring {
        width 3
    }

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    struts {}
}
