window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
    open-focused true
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

window-rule {
    match app-id="firefox"
    open-on-workspace "browser"
    open-maximized true
}

window-rule {
    match app-id="brave"
    open-on-workspace "browser"
    open-maximized true
}

window-rule {
    match app-id="Geary"
    open-on-workspace "chat"
    open-maximized true
}

window-rule {
    match app-id="Fractal"
    open-on-workspace "chat"
    open-maximized true
}

window-rule {
    match app-id="vesktop"
    open-on-workspace "chat"
    open-maximized true
}

window-rule {
    match app-id="code"
    open-on-workspace "editor"
    open-maximized true
}

window-rule {
    match app-id="at.yrlf.wl_mirror"
    open-fullscreen true
}
